h1 {
    color: black;
    font-size: 14px;
    font-style: bold;
 
}
h2 {
    color: black;
    font-size: 14px;
    font-style: italic;

}

p {
    background-color: grey;
    color: blue;
    font-size: 8px;
    font-family: sans-serif;
    
}